/*  padding is North, East, South, West */

#main{
  margin: 0;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  background-repeat: no-repeat;
}

.navigation-ul{
  justify-content: center;
  display: flex;
  width: 100%;
  background-color: #FF9A8B;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  box-shadow: 0 30px 40px rgba(0,0,0,.1);

  padding: 0.5rem 0 0 0;
  margin-bottom: 2rem;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.navigation-li{
  display: inline;
  padding: 1rem;
  text-decoration: none;
  padding: 0 0 0 1rem;
}

.pink-btn{
  color: pink;
  background-color: white;
  border: 0.25rem solid pink;
  border-radius: .5rem;
  font-size: 2rem;
  font-family: Helvetica;
  outline: none;
}

.pink-btn:hover{
  cursor: pointer;
}

.navigation-img{
  width: 3rem;
  height: 3rem;

}

.centered-btn{
  display: block;
  margin: 0 auto;
}

.summary-table{
  display: table;
  margin: 0 auto;
  padding: 1rem;
}

.summary-table-row{
  font-size: 2rem;
  font-family: Helvetica;
}

.summary-table-data{
  text-align: center;
}

.orders-ul{
  justify-content: center;
  width: 50%;
  padding: 0.5rem 0 0 0;

  margin: 0;
  position: absolute;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.order-li{
  text-decoration: none;
  list-style-type: none;
  margin: 1rem;
}

.order-div{
  border-radius: 0.5rem;
  width: 25rem;
  background: white;
  border: 0.25rem solid pink;
  border-radius: .5rem;
}

.order-p{
  font-size: 1rem;
  padding: 0.25rem;
  text-align: center;
  color: black;
  font-family: Helvetica;
}

.place-order-form{
  justify-content: center;
  width: 50%;
  padding: 0.5rem 0 0 0;

  margin: 0;
  position: absolute;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;

  font-family: Helvetica;

}

.place-order-header{
  font-family: Helvetica;
}

.place-order-li{
  text-decoration: none;
  list-style-type: none;
}

.place-order-input{
  outline: none;
  background: white;
  color: black;
  font-size: 2rem;
  width: 5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.place-order-input-name{
  width: 20rem;
}
